body {
    font-family: kallisto, sans-serif;
    font-size: 20px;
    background-color: #DCE9E6;
    color: #202e23;
    height: 100%;
    margin: 0;
}

.main-nav {
    background-color: #235c5c;
    text-align: left;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.content {
    padding-left: 20%;
}

.logo img {
    width: 150px;
    height: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    width: 70px;
}
nav li a {
   color: #fff;
   display: inline-block;
   width: 70px;
   margin-bottom: 20px;
}

.social li a {
    margin-bottom: 10px; 
}

section {
    position: relative;
    height: 100vh;
    background-color: #DCE9E6;
    padding: 20px 50px;
    display: inline-block;
    overflow: hidden;
}

section h1 {
    color: #ED6A5A;
}

section p{
    display: inline-block;
    font-family:Tahoma, sans-serif;
    font-weight: 400;
}

.tinted {
    position: absolute;
    top: 70px;
    right: -275px;
    width: 50%;
    height: 70%;
    border-radius: 50%;
}

.home-image {
    background: linear-gradient(
        rgba(22, 64, 64, .5),
        rgba(22, 64, 64, .5)
    ),
    url('assets/klienstuck2.jpg');
    background-size: 100% 100%;
}

.about-image {
    background: linear-gradient(
        rgba(22, 64, 64, .5),
        rgba(22, 64, 64, .5)
    ), 
    url('assets/profilePic.jpg');
    background-size: 100% 100%;
}

section img {
    position: absolute;
    top: 70px;
    right: -275px;
    width: 40%;
    height: 70%;
    border-radius: 50%;
    opacity: 0.5;
}

section:nth-child(1){
    background-color: #256B6B;
    color: #fff;
}
section:nth-child(1) h1{
    color: #9BC1BC;
}

#home span {
    color: #ED6A5A;
}

footer {
    margin: 0;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li h5{
    margin-right: 10px;
}

@media  screen and (max-width: 420px){
    .main-nav {
        background-color: #235c5c;
        text-align: left;
        height: 20%;
        width: 100%;
    }    
}

